:root {
  --main-color: #85bd02;
  --color-two: rgb(29, 44, 56);
  --white-color: #ffffff;
}

/* Btn Style One */

.btn-style-one {
  position: relative;
  font-weight: 500;
  overflow: hidden;
  text-align: center;
  padding: 3px 12px 5px;
  display: inline-block;
  border-radius: 50px;
  letter-spacing: 1px;
  color: var(--white-color);
  font-size: 1rem;
  text-transform: capitalize;
  cursor: pointer;
  background-color: var(--main-color);
}

.btn-style-one:before {
  -webkit-transition-duration: 800ms;
  transition-duration: 800ms;
  position: absolute;
  width: 200%;
  height: 200%;
  content: "";
  top: -200%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: 1;
  background: var(--color-two);
}

.btn-style-one:hover:before {
  top: 0%;
}

.btn-style-one .btn-wrap {
  position: relative;
  z-index: 1;
  float: left;
  overflow: hidden;
  /* display: inline-block; */
}

.btn-style-one .btn-wrap .text-one {
  position: relative;
  display: block;
  color: var(--white-color);
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.btn-style-one:hover .btn-wrap .text-one:first-child {
  -webkit-transform: translateY(-150%);
  -ms-transform: translateY(-150%);
  transform: translateY(-150%);
}

.btn-style-one .btn-wrap .text-two {
  position: absolute;
  top: 100%;
  display: block;
  color: var(--white-color);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-style-one:hover .btn-wrap .text-two {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.btn-style-one:hover .btn-wrap .text-two {
  color: var(--white-color);
}

.btn-style-one:hover:before {
  top: -40%;
}

/* Btn Style Two */
.btn-style-two {
  position: relative;
  font-weight: 500;
  overflow: hidden;
  text-align: center;
  padding: 3px 12px 5px;
  display: inline-block;
  border-radius: 50px;
  letter-spacing: 1px;
  color: var(--white-color);
  font-size: 1rem;
  text-transform: capitalize;
  cursor: pointer;
  background-color: var(--color-two);
}

.btn-style-two:before {
  -webkit-transition-duration: 800ms;
  transition-duration: 800ms;
  position: absolute;
  width: 200%;
  height: 200%;
  content: "";
  top: -200%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: 1;
  background: var(--main-color);
}

.btn-style-two:hover:before {
  top: 0%;
}

.btn-style-two .btn-wrap {
  position: relative;
  z-index: 1;
  float: left;
  overflow: hidden;
  /* display: inline-block; */
}

.btn-style-two .btn-wrap .text-one {
  position: relative;
  display: block;
  color: var(--white-color);
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.btn-style-two:hover .btn-wrap .text-one:first-child {
  -webkit-transform: translateY(-150%);
  -ms-transform: translateY(-150%);
  transform: translateY(-150%);
}

.btn-style-two .btn-wrap .text-two {
  position: absolute;
  top: 100%;
  display: block;
  color: var(--white-color);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-style-two:hover .btn-wrap .text-two {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.btn-style-two:hover .btn-wrap .text-two {
  color: var(--white-color);
}

.btn-style-two:hover:before {
  top: -40%;
}


#modal-product {
  border: none;
  background-color: rgba(25, 25, 28, 0.671);
  padding: 0;
  justify-self: end;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 12;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

#modal-product > div.overlay {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 12;
  cursor: pointer;
  /* background-color: #000; */
}

#modal-product > .content {
  background-color: #ffffff;
  padding: 20px;
  z-index: 20;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  width: 750px;
  height: 500px;
  max-height: max-content;
  min-height: min-content;
  height: max-content;
  border-radius: 25px;
  position: relative;
}

#modal-product > .content .images {
  /* border: 1px solid #ff0000; */
  min-width: 50%;
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* border-top-left-radius: 25px;
  border-bottom-left-radius: 25px; */
}

#modal-product > .content .images .current-image {
  border-top: 2px solid #85bd02c4;
  width: 80%;
  height: 60%;
  min-height: 320px;
  max-height: 320px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  /* border-radius: 10px; */
}

#modal-product > .content .images .current-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}

#modal-product > .content .images .images-selector {
  border-top: 1px solid #80808017;
  padding: 15px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
}

#modal-product > .content .images .images-selector .image {
  /* border: 1px solid rgb(0, 0, 0); */
  width: 50px;
  height: 50px;
  min-width: 50px;
  max-height: 50px;
  min-width: 50px;
  max-height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(109, 117, 141, 0.1);
}

#modal-product > .content .images .images-selector .image.current {
  border: 2px solid #85bd028a;
}

#modal-product > .content .images .images-selector .image img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  border-radius: 8px;
}

#modal-product > .content .images .images-selector .image:hover {
  border: 1px solid #80808027;
}

#modal-product > .content .details {
  /* border: 1px solid #ff0000; */
  height: 100%;
  width: 50%;
  display: flex;
  flex-flow: column;
  align-items: start;
  gap: 15px;
  justify-content: space-between;
}

#modal-product > .content .details  > .body {
  /* border: 1px solid #ff0000; */
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: start;
  gap: 15px;
}

#modal-product > .content .details > .body > .title {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
}

#modal-product > .content .details > .body > .title h2.name {
  font-size: 1.3rem;
  color: var(--color-two);
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-weight: 600;
}

#modal-product > .content .details > .body > .title span.line {
  display: inline-block;
  height: 4px;
  width: 30px;
  background-color: var(--color-two);
  opacity: .7;
  border-radius: 5px;
}

#modal-product > .content .details > .body > p.description {
  font-size: 1rem;
  color: #404040;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-weight: 500;
}

#modal-product > .content .details  > .body > .price {
  /* border: 1px solid red; */
  background-color: #f7f7f7;
  padding: 10px 10px;
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 8px;
  border-radius: 10px;
}

#modal-product > .content .details > .body > .price .price-list {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 500;
  color: #808080;
}

#modal-product > .content .details > .body > .price .price-list .now {
  /* border: 1px solid red; */
  color: var(--main-color);
  font-size: 1.2rem;
  font-weight: 600;
}

#modal-product > .content .details > .body > .price .price-list .was {
  /* border: 1px solid red; */
  font-size: 0.9rem;
  text-decoration: line-through;
  text-decoration-style: solid;
  text-decoration-color: #808080;
}

#modal-product > .content .details > .body > .price .save {
  /* border: 1px solid red; */
  /* font-size: 0.9rem; */
  color: #404040;
  font-weight: 500;
  /* text-align: center; */
}

#modal-product > .content .details > .actions {
  /* border: 1px solid red; */
  padding: 0 0 5px 0;
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 20px;
  /* justify-content: center; */
}

#modal-product > .content .details > .actions > .top-actions {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

#modal-product > .content .details > .actions .action {
  position: relative;
  text-align: center;
  text-decoration: none;
  padding: 5px 12px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 50px;
  letter-spacing: 1px;
  color: #404040;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid #80808017;
  /* background-color: var(--color-two); */
  /* background-color: var(--main-color); */
}

#modal-product > .content .details > .actions > .top-actions .action:hover {
  color: var(--color-two);
}

#modal-product > .content .details > .actions > .action {
  overflow: hidden;
  border: none;
  color: var(--white-color);
  font-weight: 500;
  background-color: var(--main-color);
}

#modal-product > .content .details > .actions > .action svg,
#modal-product > .content .details > .actions > .action span.text {
  z-index: 10;
}

#modal-product > .content .details > .actions > .action:before {
  transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  position: absolute;
  width: 200%;
  height: 300%;
  content: "";
  top: -300%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: 1;
  background: var(--color-two);
}

#modal-product > .content .details > .actions > .action:hover:before {
  top: -10px;
}

#modal-product > .content .details > .actions .action svg {
  width: 24px;
  height: 24px;
}

#modal-product > .content .details > .actions .action.inquire svg {
  margin: 2px 0 0 0;
}

#modal-product > .content .details > .actions .action span.text {
  /* font-weight: 600; */
  font-size: 1.1rem;
}