/* Product Detail */

section.product {
  /* border: 1px solid #808080; */
  padding: 20px 10% 20px 10%;
  background-color: #ffffff;
  min-height: 80vh;
  display: flex;
  flex-flow: column;
  gap: 25px;
}

section.product>.quick-info {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  gap: 20px;
  /* align-items: center; */
  justify-content: center;
}

section.product>.quick-info>.images {
  /* border-top: 1px solid #80808017; */
  /* border-right: 1px solid red; */
  padding: 15px 0 0 0;
  width: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

section.product>.quick-info>.images>.current-image {
  /* border: 2px solid red; */
  width: 500px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}

section.product>.quick-info>.images>.current-image img {
  /* border: 2px solid rgb(0, 255, 13); */
  width: auto;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  border-radius: 10px;
}

section.product>.quick-info>.images>.image-options {
  border-top: 1px solid #80808017;
  position: relative;
  padding: 15px 0 0 0;
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

section.product>.quick-info>.images>.image-options .images {
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

section.product>.quick-info>.images>.image-options .images::-webkit-scrollbar {
  display: none !important;
  visibility: hidden;
}

section.product>.quick-info>.images>.image-options .images>.image {
  border: 1px solid #80808017;
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
}

section.product>.quick-info>.images>.image-options .images>.image img {
  /* border: 2px solid rgb(0, 255, 13); */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

section.product>.quick-info>.images>.image-options>.nav {
  /* border: 1px solid #80808017; */
  position: absolute;
  left: 10px;
  width: 26px;
  height: 26px;
  display: none;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
  border-radius: 50px;
  background: linear-gradient(#53595f, #627ea0);
}

section.product>.quick-info>.images>.image-options:hover>.nav {
  display: flex;
}

section.product>.quick-info>.images>.image-options>.nav#right-nav {
  /* border: 1px solid #80808017; */
  position: absolute;
  left: unset;
  right: 10px;
}

section.product>.quick-info>.images>.image-options>.nav>svg {
  /* rotate: -90deg; */
  width: 16px;
  height: 16px;
  stroke-width: 1.8;
}

/*Details*/
section.product>.quick-info>.details {
  /* border: 1px solid red; */
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

section.product>.quick-info>.details>.top {
  /* border: 1px solid blueviolet; */
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-flow: column;
  gap: 25px;
}

section.product>.quick-info>.details>.top>.title {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
}

section.product>.quick-info>.details>.top>.title h2.name {
  font-size: 1.5rem;
  color: var(--color-two);
  /* letter-spacing: 1px; */
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-weight: 570;
}

section.product>.quick-info>.details>.top>.title span.line {
  display: inline-block;
  height: 4px;
  width: 30px;
  background-color: var(--color-two);
  opacity: .7;
  border-radius: 5px;
}

section.product>.quick-info>.details>.top .rating {
  /* border: 1px solid #404040; */
  padding: 0;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 5px;
}

section.product>.quick-info>.details>.top .rating .number {
  /* border: 1px solid red; */
  color: #404040;
  font-size: 1.1rem;
  font-weight: 600;
}

section.product>.quick-info>.details>.top .rating .stars {
  /* border: 1px solid red; */
  background-color: rgb(223, 121, 26);
  background-clip: text;
}

section.product>.quick-info>.details>.top .rating .stars svg {
  /* border: 1px solid red; */
  color: rgb(223, 121, 26);
  stroke: none;
  margin: 2px 0 0 2px;
  fill: rgb(223, 121, 26);
  width: 20px;
  height: 20px;
  /* background-clip: text; */
}

section.product>.quick-info>.details>.top .rating .stars svg path {
  stroke: none;
}

section.product>.quick-info>.details>.top .people {
  /* border: 1px solid red; */
  color: #404040;
  /* font-size: 0.9rem; */
  margin: 0 0 0 10px;
  text-align: center;
}

section.product>.quick-info>.details>.top .price {
  /* border: 1px solid red; */
  /* box-shadow: 0 0 1px rgba(0, 0, 0, 0.116); */
  background-color: #f5f7fa;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 25px;
  border-radius: 5px;
}

section.product>.quick-info>.details>.top .price .now {
  /* border: 1px solid red; */
  color: var(--main-color);
  font-size: 1.7rem;
  font-weight: 600;
}

section.product>.quick-info>.details>.top .price .now>* {
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.116);
}


section.product>.quick-info>.details>.top .price .was {
  /* border: 1px solid red; */
  color: #808080;
  font-size: 1.1rem;
  /* font-weight: 500; */
  text-decoration: line-through;
  text-decoration-color: #808080;
  text-decoration-line: 2px;
}

section.product>.quick-info>.details>.top .price .save {
  /* border: 1px solid red; */
  padding: 5px 15px;
  color: #ffffff;
  font-weight: 500;
  background: rgb(223, 121, 26);
  background: linear-gradient(0deg,
      rgb(223, 121, 26) 0%,
      rgb(240, 156, 78) 100%);
  background-color: rgb(247, 145, 162);
  border-radius: 50px;
}


section.product>.quick-info>.details>.top .quantity {
  border-top: 1px solid #80808017;
  /* box-shadow: 0 0 1px rgba(0, 0, 0, 0.116); */
  /* background-color: #f5f7fa; */
  margin: 20px 0 0 0;
  padding: 20px 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* border-radius: 5px; */
}

section.product>.quick-info>.details>.top .quantity .q {
  /* border: 1px solid red; */
  line-height: 1.3;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.116);
  margin: 0;
  font-size: 1.2rem;
  color: #404040;
  font-family: "Inter Custom", sans-serif;
  line-height: 1.3;
  font-weight: 600;
}


section.product>.quick-info>.details>.top .quantity .picker {
  /* border: 1px solid black; */
  background-color: #80808010;
  /* align-self: start; */
  display: flex;
  flex-flow: row;
  padding: 5px 15px;
  border-radius: 15px;
  align-items: start;
  gap: 15px;
}

section.product>.quick-info>.details>.top .quantity .picker span.no {
  /* border: 1px solid black; */
  background-color: #ffffff;
  width: 50px;
  height: 30px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  color: #099eef;
}

section.product>.quick-info>.details>.top .quantity .picker>.nav {
  width: 34px;
  height: 34px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
  border-radius: 50px;
  background: linear-gradient(#53595f, #627ea0);
}

section.product>.quick-info>.details>.top .quantity .picker>.nav>svg {
  rotate: -90deg;
  width: 24px;
  height: 24px;
  stroke-width: 1.8;
}


.button-box {
  /* border: 1px solid red; */
  margin: 10px 0 0 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Btn Style One */
.btn-style-one {
  border: none;
  width: 150px;
  position: relative;
  font-weight: 500;
  overflow: hidden;
  text-align: center;
  padding: 4px 12px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 50px;
  letter-spacing: 1px;
  color: var(--white-color);
  font-size: 1rem;
  text-transform: capitalize;
  cursor: pointer;
  background-color: var(--main-color);
}

.btn-style-one:before {
  -webkit-transition-duration: 800ms;
  transition-duration: 800ms;
  position: absolute;
  width: 200%;
  height: 200%;
  content: "";
  top: -200%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: 1;
  background: var(--color-two);
}

.btn-style-one:hover:before {
  top: 0%;
}

.btn-style-one .btn-wrap {
  position: relative;
  z-index: 1;
  float: left;
  overflow: hidden;
  /* display: inline-block; */
}

.btn-style-one .btn-wrap .text-one {
  /* font-weight: 400; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--white-color);
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.btn-style-one .btn-wrap .text-one svg {
  width: 21px;
  height: 21px;
}

.btn-style-one:hover .btn-wrap .text-one:first-child {
  -webkit-transform: translateY(-150%);
  -ms-transform: translateY(-150%);
  transform: translateY(-150%);
}

.btn-style-one .btn-wrap .text-two {
  position: absolute;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--white-color);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-style-one .btn-wrap .text-two svg {
  width: 21px;
  height: 21px;
}

.btn-style-one:hover .btn-wrap .text-two {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.btn-style-one:hover .btn-wrap .text-two {
  color: var(--white-color);
}

.btn-style-one:hover:before {
  top: -40%;
}

/* Btn Style Two */
.btn-style-two {
  position: relative;
  /* border: 1px solid #80808027; */
  width: 150px;
  font-weight: 500;
  overflow: hidden;
  text-align: center;
  padding: 4px 12px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  letter-spacing: 1px;
  color: #808080;
  font-size: 1rem;
  text-transform: capitalize;
  cursor: pointer;
  background-color: var(--color-two);
}

.btn-style-two:before {
  -webkit-transition-duration: 800ms;
  transition-duration: 800ms;
  position: absolute;
  width: 200%;
  height: 200%;
  content: "";
  top: -200%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: 1;
  background: var(--main-color);
}

.btn-style-two:hover:before {
  top: 0%;
}

.btn-style-two .btn-wrap {
  position: relative;
  z-index: 1;
  float: left;
  overflow: hidden;
  /* display: inline-block; */
}

.btn-style-two .btn-wrap .text-one {
  /* font-weight: 400; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--white-color);
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.btn-style-two .btn-wrap .text-one svg {
  width: 21px;
  height: 21px;
}

.btn-style-two:hover .btn-wrap .text-one:first-child {
  -webkit-transform: translateY(-150%);
  -ms-transform: translateY(-150%);
  transform: translateY(-150%);
}

.btn-style-two .btn-wrap .text-two {
  position: absolute;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--white-color);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-style-two.btn-wrap .text-two svg {
  width: 21px;
  height: 21px;
}

.btn-style-two:hover .btn-wrap .text-two {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.btn-style-two:hover .btn-wrap .text-two {
  color: var(--white-color);
}

.btn-style-two:hover:before {
  top: -40%;
}





/* Cart */
cart-container {
  /* border: 1px solid #808080; */
  padding: 50px 10% 20px 10%;
  background-color: #ffffff;
  min-height: 90vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  /* justify-content: center; */
}

/* About */
.about-top {
  /* border: 1px solid #808080; */
  margin: 0;
  width: 100%;
  padding: 50px 10% 20px 10%;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: #404040;
  text-align: center;
  gap: 20px;
}

.about-top>p.head {
  width: max-content;
  color: #ffffff;
  margin: 0;
  padding: 5px 12px;
  background: rgb(223, 121, 26);
  background: linear-gradient(0deg,
      rgb(223, 121, 26) 0%,
      rgb(240, 156, 78) 100%);
  background-color: rgb(247, 145, 162);
  border-radius: 50px;
}

.about-top>h1.title {
  line-height: 1.3;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.116);
  margin: 0;
  font-size: 2.5rem;
  /* font-family: var(--font-alt); */
  font-family: "Inter Custom", sans-serif;
  line-height: 1.3;
  font-weight: 500;
}

.about-top>p.text {
  font-family: "Inter Custom", sans-serif;
  margin: 0;
  bottom: 40px;
  font-size: 1.15rem;
  line-height: 1.5;
  font-style: normal;
  text-align: center;
}

body>main.main>section.content>div.section.booking {
  /* border: 1px solid #404040; */
  margin: 0;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

body>main.main>section.content>div.section.booking>div.image-side,
body>main.main>section.content>div.section.booking>div.info-side {
  width: 50%;
}

body>main.main>section.content>div.section.booking>div.info-side {
  display: flex;
  flex-flow: column;
  gap: 25px;
}

body>main.main>section.content>div.section.booking>div.info-side>h2.title {
  margin: 0;
  padding: 0;
  font-family: var(--font-alt);
  color: #25292e;
  font-weight: 500;
  font-size: 2.5rem;
}

body>main.main>section.content>div.section.booking>div.info-side>p {
  margin: 0;
  padding: 0;
  font-family: var(--font-alt);
  color: #25292e;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
}

body>main.main>section.content>div.section.booking>div.info-side>.actions {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 30px;
  padding: 10px 0 0 0;
}

body>main.main>section.content>div.section.booking>div.info-side>.actions>.action {
  /* border: 1px solid #808080; */
  text-decoration: none;
  color: #404040;
  cursor: pointer;
  font-family: var(--font-alt);
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

body>main.main>section.content>div.section.booking>div.info-side>.actions>.learn {
  border: 1px solid #808080;
}

body>main.main>section.content>div.section.booking>div.info-side>.actions>.book {
  color: #ffffff;
  background: rgb(223, 121, 26);
  background: linear-gradient(0deg,
      rgb(223, 121, 26) 0%,
      rgb(240, 156, 78) 100%);
  background-color: rgb(247, 145, 162);
}

body>main.main>section.content>div.section.booking>div.image-side {
  /* border: 1px solid #808080; */
  background: rgb(250, 199, 32);
  margin: 50px 0 0 0;
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  overflow: hidden;
}

body>main.main>section.content>div.section.booking>div.image-side img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

body>main.main>section.content>div.section.people {
  /* border: 1px solid #404040; */
  padding: 70px 0 0 0;
  margin: 0;
  display: flex;
  flex-flow: column;
  /* align-items: center; */
  /* justify-content: center; */
}

body>main.main>section.content>div.section.people>.people-head {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

body>main.main>section.content>div.section.people>.people-head>h2.title {
  margin: 0;
  padding: 0;
  font-family: var(--font-alt);
  color: #25292e;
  font-weight: 500;
  font-size: 2.5rem;
}

body>main.main>section.content>div.section.people>.people-head>p {
  margin: 0;
  padding: 0;
  font-family: var(--font-alt);
  color: #25292e;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
}

body>main.main>section.content>div.section.people>div.people {
  /* border: 1px solid #404040; */
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

body>main.main>section.content>div.section.people>div.people>div.person {
  /* border: 1px solid #404040; */
  background-color: #eaf4fc;
  /* box-shadow: 1px 1px 10px rgba(185, 185, 185, 0.3); */
  display: flex;
  flex-flow: column;
  padding: 15px 10px 15px 10px;
  justify-content: center;
  width: 350px;
  gap: 15px;
  border-radius: 25px;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-image: none;
  box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.027);
}

body>main.main>section.content>div.section.people>div.people>div.person>.top {
  /* border: 1px solid #ca1111; */
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

body>main.main>section.content>div.section.people>div.people>div.person>.top>.image {
  /* border: 1px solid #11ca39; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

body>main.main>section.content>div.section.people>div.people>div.person>.top>.image>img {
  /* border: 1px solid  rgb(238, 162, 92); */
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}

body>main.main>section.content>div.section.people>div.people>div.person>.top>.info {
  /* border: 1px solid #11ca39; */
  display: flex;
  flex-flow: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}

body>main.main>section.content>div.section.people>div.people>div.person>.top>.info>div.name {
  display: flex;
  flex-flow: column;
  align-items: start;
  justify-content: center;
}

body>main.main>section.content>div.section.people>div.people>div.person>.top>.info>div.name h3 {
  margin: 0;
  font-family: var(--font-alt);
  color: #404040;
  font-weight: 500;
}

body>main.main>section.content>div.section.people>div.people>div.person>.top>.info>div.name .pro {
  margin: 0;
  font-family: var(--font-main);
  color: #808080;
  font-size: 0.8rem;
  font-weight: 400;
}

body>main.main>section.content>div.section.people>div.people>div.person>.top>.info>div.about {
  margin: 0;
  font-family: var(--font-alt);
  color: #404040;
  font-size: 0.93rem;
  font-weight: 400;
}

body>main.main>section.content>div.section.people>div.people>div.person>.footer {
  /* border: 1px solid #11ca39; */
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;
  /* justify-content: space-between; */
  gap: 10px;
}

body>main.main>section.content>div.section.people>div.people>div.person>.footer>.social {
  /* border: 1px solid #1133ca; */
  height: max-content;
  padding: 2px;
  width: 100px;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

body>main.main>section.content>div.section.people>div.people>div.person>.footer>.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #808080;
}

body>main.main>section.content>div.section.people>div.people>div.person>.footer>.social a:hover {
  color: #374bff;
}

body>main.main>section.content>div.section.people>div.people>div.person>.footer>.social a svg {
  width: 16px;
  height: 16px;
}

body>main.main>section.content>div.section.people>div.people>div.person>.footer>a {
  display: flex;
  /* background-color: #374bff; */
  background-color: rgb(236, 151, 39);
  padding: 5px 12px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-decoration: none;
  color: #ffffff;
  /* color: #808080; */
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

/* body > main.main > section.content > div.section.people > div.people > div.person > .footer >  a:hover {
	color: #374bff;
} */

body>main.main>section.content>div.section.people>div.people>div.person>.footer>a svg {
  width: 17px;
  height: 17px;
  /* rotate: -40deg; */
}

body>main.main>section.content>div.section.people>div.more {
  /* background-color: #ffffff; */
  /* background-color: #f8f7f4; */
  align-self: center;
  width: 70%;
  margin: 20px 0;
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

body>main.main>section.content>div.section.people>div.more>span.looking {
  display: flex;
  /* background-color:  #ffffff; */
  padding: 5px 12px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-decoration: none;
  color: #808080;
  border-radius: 50px;
}

body>main.main>section.content>div.section.people>div.more>h2 {
  margin: 0 0 15px 0;
  font-family: var(--font-alt);
  color: #404040;
  font-weight: 500;
  line-height: 1.4;
  font-size: 1.7rem;
  text-align: center;
}

body>main.main>section.content>div.section.people>div.more>p {
  margin: 0;
  font-family: var(--font-alt);
  color: #404040;
  line-height: 1.4;
  font-weight: 500;
}

body>main.main>section.content>div.section.people>div.more>a.browse {
  margin: 15px 0 0 0;
  padding: 10px 20px;
  /* background-color: #374bff; */
  background-color: rgb(23, 20, 66);
  text-decoration: none;
  font-family: var(--font-alt);
  color: #ffffff;
  font-weight: 500;
  border-radius: 50px;
}